ul{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
}
.navbar{
    height: 75px;
}
ul{
    border-radius: 5px;
    width: 100%;
    display: flex;
    
    justify-content:flex-end ;
    list-style-type: none;
    gap: 5px;
    padding: 5px 2px;
    background-color: rgb(153, 216, 71);
}
li{
    border: 1px solid rgb(0, 0, 0);
    padding: 4px 5px;
    color: rgb(19, 48, 48);
    border-radius: 100px;
}
@media screen and (max-width: 600px) {
    /*Apply the following styles if maximum width is 600px or width <= 600px*/
    ul{
        flex-direction: column-reverse;
    }
    span{
        display: block;
        width: 100%;
        text-align: center;
    }
}
h1,h2, .navlink, #custom{
    color: indianred;
}
nav span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}